{% extends 'base.html'%}

{% load static %}
{% block content%}
{% include 'navigation.html'%}
<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide"  data-interval="1000" data-bs-ride="carousel">
        <div class="carousel-inner my-3 rounded-3">
            <div class="carousel-item bg-light active" >
                <div class="row  p-5 d-flex align-items-center ">
                    <div class="col-lg-7 ">
                        
                        <img src="{% static 'img/bouquet.jfif' %}" class="img-fluid rounded-3 border-3 w-100" alt="">
                    </div>
                    <div class="col-lg-5">
                        <h1 class="fst-italic fw-bolder text-success text-center text-uppercase">Welcome <br> To <br > <span class="text-danger">My Nursery Plants</span>  <br>  In  <br>  Bangladesh.</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item bg-light">
                <div class="row  p-5 d-flex align-items-center ">
                    <div class="col-lg-4">
                        <h1 class="fst-italic  fw-bolder text" style="font-size: 50px;">Take Your <span class="text-success">Timber</span> Plants</h1>
                        <p>This is the best place where you can get all your desired <span class="text-success">Timber</span> plants by cheap Price.Let's Start by clicking the button..</p>
                        <a href="" class="btn btn btn-success fw-bold ">Buy Now</a>
                    </div>
                    <div class="col-lg-8">
                        <div>
                            <img src="{% static 'img/tm.jfif' %}" class="d-block  w-75 mx-auto d-lg-block h-25 rounded-3 shadow-lg" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <!-- ses** -->
            <div class="carousel-item bg-light">
                <div class="row  p-5 d-flex align-items-center ">
                    <div class="col-lg-4">
                        <h1 class="fst-italic  fw-bolder text" style="font-size: 50px;">Take Your <span class="text-warning">Flower</span> Plants</h1>
                        <p>This is the best place where you can get all your desired <span class="text-warning">Flower</span> plants by cheap Price.Let's Start by clicking the button..</p>
                        <a href="" class="btn btn btn-warning fw-bold ">Buy Now</a>
                    </div>
                    <div class="col-lg-8">
                        <div>
                            <img src="{% static 'img/f4.jpg' %}" class="d-block  w-75 mx-auto d-lg-block h-25 rounded-3 shadow-lg" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item bg-light">
                <div class="row  p-5 d-flex align-items-center ">
                    <div class="col-lg-4">
                        <h1 class="fst-italic  fw-bolder text" style="font-size: 50px;">Take Your <span class="text-danger">Fruits</span> Plants</h1>
                        <p>This is the best place where you can get all your desired <span class="text-danger">Fruits</span> plants by cheap Price.Let's Start by clicking the button..</p>
                        <a href="" class="btn btn btn-danger fw-bold ">Buy Now</a>
                    </div>
                    <div class="col-lg-8">
                        <div>
                            <img src="{% static 'img/fruits3.jfif' %}" class="d-block  w-75 mx-auto d-lg-block h-25 rounded-3 shadow-lg" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item bg-light">
                <div class="row  p-5 d-flex align-items-center ">
                    <div class="col-lg-4">
                        <h1 class="fst-italic  fw-bolder text" style="font-size: 50px;">Take Your <span class="text-success">Herbal</span> Plants</h1>
                        <p>This is the best place where you can get all your desired <span class="text-success">Herbal</span> plants by cheap Price.Let's Start by clicking the button..</p>
                        <a href="" class="btn btn btn-success  fw-bold ">Buy Now</a>
                    </div>
                    <div class="col-lg-8">
                        <div>
                            <img src="{% static 'img/plants/herbal plant/h10.jpg' %}" class="d-block w-50 mx-auto d-lg-block h-25 rounded-3 shadow-lg" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item bg-light">
                <div class="row  p-5 d-flex align-items-center ">
                    <div class="col-lg-4">
                        <h1 class="fst-italic  fw-bolder text" style="font-size: 50px;">Take Your <span class="text-success">Indoor</span> Plants</h1>
                        <p>This is the best place where you can get all your desired <span class="text-success">indoor</span> plants by cheap Price.Let's Start by clicking the button..</p>
                        <a href="" class="btn btn btn-success  fw-bold ">Buy Now</a>
                    </div>
                    <div class="col-lg-8">
                        <div>
                            <img src="{% static 'img/in.jfif'%}" class="d-block w-75 mx-auto d-lg-block h-25 rounded-3 shadow-lg" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item bg-light">
                <div class="row  p-5 d-flex align-items-center ">
                    <div class="col-lg-4">
                        <h1 class="fst-italic  fw-bolder text" style="font-size: 50px;">Take Your <span class="text-primary">Spices</span> Plants</h1>
                        <p>This is the best place where you can get all your desired <span class="text-primary">Spices</span> plants by cheap Price.Let's Start by clicking the button..</p>
                        <a href="" class="btn btn btn-primary  fw-bold ">Buy Now</a>
                    </div>
                    <div class="col-lg-8">
                        <div>
                            <img src="{% static 'img/s.jfif' %}" class="d-block w-75 mx-auto d-lg-block h-25 rounded-3 shadow-lg" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item bg-light">
                <div class="row  p-5 d-flex align-items-center ">
                    <div class="col-lg-4">
                        <h1 class="fst-italic  fw-bolder text" style="font-size: 50px;">Take Your <span class="text-danger">Foreign</span> Plants</h1>
                        <p>This is the best place where you can get all your desired <span class="text-danger">Foreign</span> plants by cheap Price.Let's Start by clicking the button..</p>
                        <a href="" class="btn btn btn-danger  fw-bold ">Buy Now</a>
                    </div>
                    <div class="col-lg-8">
                        <div>
                            <img src="{% static 'img/fn.jfif'%}" class="d-block w-75 mx-auto d-lg-block h-25 rounded-3 shadow-lg" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- carosel ses************** -->
    <div class="container mb-5">
        <div class="row">
            <h1 class="text-center text-danger fw-bold fst-italic mb-5">Trending Flower Plants in Nursery</h1>
            <div class="col-lg-4 bg-white rounded-3" >
                    <div>
                        <img class="img-fluid rounded-3   h-auto shadow-lg border-3" src="{% static 'img/plants/flower plants/f5.jpg' %}"  alt="">
                        <h2 class="fw-bold py-2 text-center">Black Rose Plants</h2>
                        <div class="text-center">
                            <span>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="far fa-star text-warning"></i>
                              </span>
    
                        </div>
                    </div>
                </div>
            <div class="col-lg-4">
                <div>
                    <img class="img-fluid rounded-3  w-100 h-25 border-3" src="{% static 'img/f2.jfif' %}"  alt="">
                    <h2 class="fw-bold text-center" style="color:palevioletred">Pink Rose Plants</h2>
                   
                    <div class="text-center">
                        <span>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="far fa-star text-warning"></i>
                          </span>

                    </div>
                </div>
                
               

            </div>
            <div class="col-lg-4">
                <div>
                    <img class="img-fluid rounded-3 mx-auto d-block  h-auto  border-3" src="{% static 'img/trnding/flw3.jfif' %}"  alt="">
                    <h2 class="fw-bold  text-center text-danger">Red Rose Plants</h2>

                </div>
                <div class="text-center">
                    <span>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                      </span>

                </div>

            </div>
        </div>
    <div class="btn btn-danger mx-auto d-block  w-25 my-4"><a href="{% url 'flower' %}" class="text-white text-decoration-none">See More</a></div>

    </div>
<!-- *************tndflwr********** -->
    <div class="container mb-5 bg-light">
        <div class="row">
            <h1 class="text-center  fw-bold fst-italic mb-5">Trending Fruits Plants in Nursery</h1>

            <div class="col-lg-3 shadow-lg">
                <div>
                    <img src="{% static 'img/plants/fruits plants/r1.jpg' %}" class="img-fluid py-2 rounded-3 " alt="">
                    <h3 class="fw-bold mx-3  text-danger">Apple Plant</h3>
                </div>
                <div class=" mx-4">
                    <span>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                      </span>

                </div>

            </div>
            <div class="col-lg-3 shadow-lg">
                <div>
                    <img src="{% static 'img/plants/fruits plants/r10.jpg' %}" class="img-fluid rounded-3 py-2 " alt="">
                    <h3 class="fw-bold mx-3  text-warning">Orange Plant</h3>

                </div>
                <div class=" mx-4 mb-2">
                    <span>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                      </span>

                </div>

            </div>
            <div class="col-lg-3 shadow-lg">
                <div>
                    <img src="{% static 'img/plants/fruits plants/r7.jpg' %}" class="img-fluid rounded-3 py-2 " alt="">
                    <h3 class="fw-bold mx-3"> Grape Plant</h3>

                </div>
                <div class=" mx-4">
                    <span>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                      </span>

                </div>

            </div>
            <div class="col-lg-3 shadow-lg">
                <div>
                    <img src="{% static 'img/plants/fruits plants/r26.jpg' %}" class="img-fluid w-100 py-2 h-auto" alt="">
                    <h3 class="fw-bold mx-3  text-success"> Sharifa Plant</h3>

                </div>
                <div class=" mx-3">
                    <span>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="far fa-star text-warning"></i>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="btn btn-dark mx-auto d-block  w-25 my-4"><a href="{% url 'fruits' %}" class="text-white text-decoration-none">See More</a></div>
    

</div>
<!-- *******************fruits ses***************** -->
<div class="container m-5">
<div class="row">
    <h1 class="text-center text-success fw-bold fst-italic mb-5">Trending Indoor Plants in Nursery</h1>
    <div class="col-lg-3 shadow-lg">
        <div>
            <img src="{% static 'img/trnding/indr1.jfif' %}" class="img-fluid w-100 " alt="">


            <h3 class="fw-bold mx-3  text-success"> Alobera Plant</h3>

        </div>
        <div class=" mx-3">
            <span>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="far fa-star text-warning"></i>
              </span>
        </div>
    </div>
    <div class="col-lg-3 shadow-lg">
        <div>
            <img src="{% static 'img/plants/indoor plants/i5.jpg'%}" class="img-fluid w-100 " alt="">
            <h3 class="fw-bold mx-3 "> Bird of Paradise</h3>

        </div>
        <div class=" mx-3">
            <span>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
              </span>
        </div>
    </div>
    <div class="col-lg-3 shadow-lg">
        <div>
            <img src="{% static 'img/trnding/indr3.jfif' %}" class="img-fluid w-100 h-100 " alt="">

            <h3 class="fw-bold mx-3   text-info"> Cactus Plant</h3>

        </div>
        <div class=" mx-3">
            <span>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="far fa-star text-warning"></i>
              </span>
        </div>
    </div>
    <div class="col-lg-3 shadow-lg">
        <div>
            <img src="{% static 'img/plants/indoor plants/i6.jpg' %}" class="img-fluid w-100 " alt="">


            <h3 class="fw-bold mx-3  text-success"> String of Pearls</h3>

        </div>
        <div class=" mx-3">
            <span>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
              </span>
        </div>
    </div>
</div>
<div class="btn btn-success mx-auto d-block  w-25 my-4"><a href="{% url 'indoor' %}" class="text-white text-decoration-none">See More</a></div>
</div>
<div class="container m-5">
<div class="row">
    <h1 class="text-center text-secondary fw-bold fst-italic mb-5">Trending Bouquet in Nursery</h1>
    <div class="col-lg-3 shadow-lg">
        <div>
            <img src="{% static 'img/bouquet/fb6.jfif' %}" class="img-fluid w-100 " alt="">

        </div>
        <div class=" mx-3">
            <span>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="far fa-star text-warning"></i>
              </span>
        </div>
    </div>
    <div class="col-lg-3 shadow-lg">
        <div>
            <img src="{% static 'img/bouquet/wb8.jfif'%}" class="img-fluid w-100 " alt="">

        </div>
        <div class=" mx-3">
            <span>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
              </span>
        </div>
    </div>
    <div class="col-lg-3 shadow-lg">
        <div>
            <img src="{% static 'img/bouquet/wb3.jfif' %}" class="img-fluid w-100 h-100 " alt="">


        </div>
        <div class=" mx-3">
            <span>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="far fa-star text-warning"></i>
              </span>
        </div>
    </div>
    <div class="col-lg-3 shadow-lg">
        <div>
            <img src="{% static 'img/bouquet/wb5.jfif' %}" class="img-fluid w-100 " alt="">



        </div>
        <div class=" mx-3">
            <span>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
              </span>
        </div>
    </div>
</div>
<div class="btn btn-secondary mx-auto d-block  w-25 my-4"><a href="{% url 'bouquet' %}" class="text-white text-decoration-none">See More</a></div>
</div>
{% endblock%}